formats/src/main/resources/xsd/card.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ubrr.org/card"
        elementFormDefault="qualified">

  <complexType name="CardType">
    <sequence>
      <element name="message" type="string"/>
      <element name="color" type="string"/>
    </sequence>
  </complexType>

</schema>
